.scrollup {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 69px;
    right: 40px;
    display: none;
    text-indent: -9999px;
    z-index: 1000;
    background: url('../images/icon_top.svg');
}